/.stack-work/
/dist-newstyle/
TAGS
stack.yaml.lock
**/.DS_Store
/cabal.project.local
/.hkgr/
/.hie/
/.ghc.environment.aarch64-darwin-9.10.1
/checklist.org
/.ghc.environment.aarch64-darwin-9.6.6
/.ghc.environment.aarch64-darwin-9.12.2
.ghc.environment.*
